
@font-face {
  font-family: 'KozGoPro-Bold-AlphaNum';
  src: url('../fonts/KozGoPro-Bold-AlphaNum.eot');
  src: url('../fonts/KozGoPro-Bold-AlphaNum.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KozGoPro-Bold-AlphaNum.otf')  format('opentype'),
  url('../fonts/KozGoPro-Bold-AlphaNum.woff') format('woff'),
  url('../fonts/KozGoPro-Bold-AlphaNum.ttf')  format('truetype'),
  url('../fonts/KozGoPro-Bold-AlphaNum.svg#KozGoPro-Bold-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KozGoPro-Heavy-AlphaNum';
  src: url('../fonts/KozGoPro-Heavy-AlphaNum.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KozGoPro-Heavy-AlphaNum.otf')  format('opentype'),
  url('../fonts/KozGoPro-Heavy-AlphaNum.woff') format('woff'),
  url('../fonts/KozGoPro-Heavy-AlphaNum.ttf')  format('truetype'),
  url('../fonts/KozGoPro-Heavy-AlphaNum.svg#KozGoPro-Heavy-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KozGoPro-Regular-AlphaNum';
  src: url('../fonts/KozGoPro-Regular-AlphaNum.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KozGoPro-Regular-AlphaNum.otf')  format('opentype'),
  url('../fonts/KozGoPro-Regular-AlphaNum.woff') format('woff'),
  url('../fonts/KozGoPro-Regular-AlphaNum.ttf')  format('truetype'),
  url('../fonts/KozGoPro-Regular-AlphaNum.svg#KozGoPro-Regular-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KozGoPro-Medium-AlphaNum';
  src: url('../fonts/KozGoPro-Medium-AlphaNum.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KozGoPro-Medium-AlphaNum.otf')  format('opentype'),
  url('../fonts/KozGoPro-Medium-AlphaNum.woff') format('woff'),
  url('../fonts/KozGoPro-Medium-AlphaNum.ttf')  format('truetype'),
  url('../fonts/KozGoPro-Medium-AlphaNum.svg#KozGoPro-Medium-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HeiseiMaruGoStd-W4-AlphaNum';
  src: url('../fonts/HeiseiMaruGoStd-W4-AlphaNum.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeiseiMaruGoStd-W4-AlphaNum.otf')  format('opentype'),
  url('../fonts/HeiseiMaruGoStd-W4-AlphaNum.woff') format('woff'),
  url('../fonts/HeiseiMaruGoStd-W4-AlphaNum.ttf')  format('truetype'),
  url('../fonts/HeiseiMaruGoStd-W4-AlphaNum.svg#HeiseiMaruGoStd-W4-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}