$font-KozGoPro-bold: "KozGoPro-Bold-AlphaNum";
$font-KozGoPro-heavy: "KozGoPro-Heavy-AlphaNum";
$font-KozGoPro-regular: "KozGoPro-Regular-AlphaNum";
$font-KozGoPro-medium: "KozGoPro-Medium-AlphaNum";
$font-Heisei: "HeiseiMaruGoStd-W4-AlphaNum";

$info-screen-pc: "only screen and (max-width :  1320px)";
$info-screen-custom: "only screen and (max-width :  1200px)";
$info-tablet-big: "only screen and (max-width : 1160px)";
$info-screen-custom-02: "only screen and (max-width : 1000px)";
$info-tablet: "only screen and (max-width : 800px)";
$info-phone: "only screen and (max-width : 767px)";
$info-phone-4: "only screen and (max-width : 320px)";